html{
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
	height: 100%;
	background-color: #fff;
}

h1 {
  font-size: 3em;
  font-weight: 500 ;
}
.info {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;

  
}

.heading {
	
}