{% extends "base.html" %}

{% block content %}
<div class="card info">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong><em>IP Address</em></strong> {{ ip }}</li>
    <li class="list-group-item"><strong><em>City</em></strong> {{ city }}</li>
    <li class="list-group-item"><strong><em>Region</em></strong> {{ region }}</li>
		<li class="list-group-item"><strong><em>Country</em></strong> {{ country }}</li>
    <li class="list-group-item"><strong><em>Coordinates</em></strong> {{ loc }}</li>
    <li class="list-group-item"><strong><em>Nearest organization</em></strong> {{ org }}</li>
    <li class="list-group-item"><strong><em>Current Timezone</em></strong> {{ timezone }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="{{ readme }}">Read more about this api</a>
  </div>
</div>
{% endblock content %}